@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500|Jura&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);
.clearfix {
  content: "";
  display: table;
  clear: both; }

#home {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  margin: 0 auto;
  background: url(../img/hero.png) no-repeat 100% center;
  background-size: cover;
  background-attachment: fixed; }

header {
  height: 100px;
  padding: 25px 0; }
  header .h-container {
    width: 1000px;
    margin: 0 auto; }

.logo {
  float: left; }

.header-nav {
  float: right;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; }
  .header-nav > li {
    display: inline-block;
    margin-right: 15px; }
    .header-nav > li:nth-child(3) {
      margin-right: 0; }
    .header-nav > li > a {
      padding: 5px;
      transition: 1s;
      color: #FBFBFB;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none; }
      .header-nav > li > a:hover {
        color: #F31247; }

.sliding-line {
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  background: #41D5B8; }

main {
  width: 100%;
  height: 400px; }

.hero-wrap {
  display: flex;
  width: 1000px;
  margin: 0 auto; }

.hero-box {
  margin: auto;
  margin-top: 150px; }

.avatar-wrap-out {
  float: left;
  margin-right: 10px;
  overflow: hidden;
  border: 4px solid #FBFBFB;
  border-radius: 50%; }

.avatar-wrap {
  float: left;
  overflow: hidden;
  border: 3px solid #F31247;
  border-radius: 50%; }

.avatar-text {
  display: inline-block;
  margin-top: 10px;
  text-align: right; }
  .avatar-text .my-name {
    font-size: 25px;
    color: #FBFBFB;
    font-family: "Fira Sans", sans-serif; }
  .avatar-text > h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 37px;
    font-weight: 400;
    color: #F31247;
    font-family: "Roboto", sans-serif; }
  .avatar-text > h2 {
    margin: 0;
    font-size: 37px;
    color: #41D5B8;
    font-family: "Jura", sans-serif; }

.sprite {
  margin-bottom: 0;
  text-align: right; }
  .sprite > a {
    margin-right: 15px; }
    .sprite > a:last-child {
      margin-right: 0; }
    .sprite > a > .fa {
      color: #FBFBFB; }
      .sprite > a > .fa:hover {
        transition: 1s;
        color: #F31247; }

svg {
  display: block;
  color: aliceblue; }

#about {
  width: 100%;
  margin: 0 auto;
  background: url(../img/stressed_linen.png); }

.a-container {
  width: 1000px;
  margin: 0 auto;
  padding: 25px 0;
  font-family: "Fira Sans", sans-serif;
  color: #fff; }
  .a-container > h2 {
    text-align: center;
    color: #F31247; }

.a-title {
  text-align: center;
  text-transform: uppercase;
  color: #F31247;
  font-size: 37px;
  font-family: "Roboto", sans-serif; }

.line-l {
  display: inline-block;
  width: 70px;
  margin-right: 5px;
  margin-bottom: 11px;
  border-top: 5px solid #F31247;
  border-radius: 3px; }

.line-r {
  display: inline-block;
  width: 70px;
  margin-left: 5px;
  margin-bottom: 11px;
  border-top: 5px solid #F31247;
  border-radius: 3px; }

.my-self {
  text-align: center;
  font-size: 23px; }

.progress {
  margin: 5px 0 5px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 500; }

.p-html {
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 30px;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 3px;
  background: linear-gradient(to bottom, #333, #999); }
  .p-html:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    border: 1px solid #F31247;
    background: #F31247;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.5); }

.p-css {
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 30px;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 3px;
  background: linear-gradient(to bottom, #333, #999); }
  .p-css:before {
    content: '';
    position: absolute;
    width: 95%;
    height: 30px;
    border: 1px solid #F31247;
    background: #F31247;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.5); }

.p-gulp {
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 30px;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 3px;
  background: linear-gradient(to bottom, #333, #999); }
  .p-gulp:before {
    content: '';
    position: absolute;
    width: 90%;
    height: 30px;
    border: 1px solid #F31247;
    background: #F31247;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.5); }

.p-js {
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 30px;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 3px;
  background: linear-gradient(to bottom, #333, #999); }
  .p-js:before {
    content: '';
    position: absolute;
    width: 10%;
    height: 30px;
    border: 1px solid #F31247;
    background: #F31247;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.5); }

.p-ps {
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 30px;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 3px;
  background: linear-gradient(to bottom, #333, #999); }
  .p-ps:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 30px;
    border: 1px solid #F31247;
    background: #F31247;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.5); }

.a-item {
  list-style: none;
  text-align: center; }

.where {
  font-size: 20px; }

.period {
  font-weight: 300; }

.hobby {
  display: block;
  width: 338px;
  margin: 0 auto; }
  .hobby > .fa {
    display: inline-block;
    margin-right: 20px;
    color: #41D5B8; }
    .hobby > .fa:last-child {
      margin-right: 0; }

#work {
  width: 100%;
  margin: 0 auto;
  background-color: beige; }

.w-container {
  width: 1000px;
  margin: 0 auto;
  padding: 25px 0;
  font-family: "Fira Sans", sans-serif; }

.w-title {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #F31247;
  font-size: 37px;
  font-family: "Roboto", sans-serif; }

.my-work {
  width: 885px;
  margin: 0 auto; }
  .my-work > .w-link {
    display: inline-block;
    margin-right: 40px; }
    .my-work > .w-link:last-child {
      margin-right: 0; }
    .my-work > .w-link > img {
      width: 265px;
      height: 200px; }

.w-text {
  width: 885px;
  margin: 0 auto; }
  .w-text > .w-item {
    display: inline-block;
    width: 265px;
    margin-right: 40px; }
    .w-text > .w-item:last-child {
      margin-right: 0; }
    .w-text > .w-item > h3 {
      color: #F31247;
      text-align: center; }
    .w-text > .w-item > p {
      text-align: center; }

#contact {
  width: 100%;
  margin: 0 auto;
  background: url(../img/footer.jpg) no-repeat 100% center;
  background-size: cover;
  background-attachment: fixed; }

.c-container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 25px 0;
  font-family: "Fira Sans", sans-serif;
  color: #41D5B8; }

.c-title {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #F31247;
  font-size: 37px;
  font-family: "Roboto", sans-serif; }

.social > a {
  margin-right: 10px;
  transition: 1s;
  color: #FBFBFB; }
  .social > a:hover {
    color: #F31247; }

.c-text {
  width: 400px; }

.form {
  position: absolute;
  top: 135px;
  right: 0; }

.copyright {
  text-align: center;
  margin-top: 350px;
  margin-bottom: 0;
  font-weight: 300; }

* {
  box-sizing: border-box; }

#wrapper {
  min-width: 1345px;
  margin: 0 auto; }

.top {
  bottom: 0;
  right: 20px;
  text-align: center;
  line-height: 50px;
  position: fixed;
  color: #41D5B8; }

.mPS2id-highlight {
  display: none; }

.down {
  display: block;
  margin-top: 30px;
  color: #F31247;
  text-align: center; }
