#contact{
    width: 100%;
    margin: 0 auto;
    background: url(../img/footer.jpg) no-repeat 100% center;
    background-size: cover;
    background-attachment: fixed;
}

.c-container{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 25px 0;
    font-family: $main-font;
    color: $main-color;
}

.c-title{
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: $second-color;
    font-size: 37px;
    font-family: $second-font;
}

.social{
    >a{
        margin-right: 10px;
        transition: 1s;
        color: $alt-color;
        &:hover{
            color: $second-color;
        }
    }
}

.c-text{
    width: 400px;
}

.form{
    position: absolute;
    top: 135px;
    right: 0;
}

.form-field{
    width: 350px;
    height: 35px;
    padding: 5px 0 5px 5px;
    outline: none;
    border: 2px solid $second-color;
    background: none;
    font-size: 17px;
    color: $alt-color;
    border-radius: 3px;
}

input::-webkit-input-placeholder {color: #7D7D7D;}
textarea::-webkit-input-placeholder {color: #7D7D7D;}

.form-text{
    width: 350px;
    height: 300px;
    padding: 5px 0 5px 5px;
    outline: none;
    border: 2px solid $second-color;
    background: none;
    font-size: 17px;
    color: $alt-color;
    resize: none;
    border-radius: 3px;
}

.sub_btn{
    width: 150px;
    height: 40px;
    margin-right: 48px;
    outline: none;
    border: 2px solid $second-color;
    background: none;
    font-size: 17px;
    color: $alt-color;
    transition: 1s;
    border-radius: 3px;
    text-transform: uppercase;
    &:hover{
        background-color: $second-color;
    }
}

.res_btn{
    width: 150px;
    height: 40px;
    outline: none;
    border: 2px solid $second-color;
    background: none;
    font-size: 17px;
    color: $alt-color;
    transition: 1s;
    border-radius: 3px;
    text-transform: uppercase;
    &:hover{
        background-color: $second-color;
    }
}

.copyright{
    text-align: center;
    margin-top: 350px;
    margin-bottom: 0;
    font-weight: 300;
}











