section#contact
    .c-container
        h1.c-title 
            span.line-l
            |Свяжитесь со мной
            span.line-r
        .social
            a(href="https://vk.com/yurimoskovets" target="_blank"): i.fa.fa-vk.fa-2x
            a(href="https://www.facebook.com/yuri.moskovets.7" target="_blank"): i.fa.fa-facebook.fa-2x
            a(href="#"): i.fa.fa-twitter.fa-2x
            a(href="https://github.com/MoskovetsY" target="_blank"): i.fa.fa-github.fa-2x
        .c-text
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit labore minima ratione harum ducimus numquam distinctio alias vel earum sed eligendi atque sequi, eius consectetur, voluptatum obcaecati esse. Asperiores, autem.
        .form
            form#form
                p
                    input(type="text" name="name" placeholder="Ваше имя" class="form-field" required)
                p
                    input(type="email" name="email" placeholder="Ваш email" class="form-field" required)
                p
                    textarea(name="text" placeholder="Ваше сообщение:" class="form-text")
                button.sub_btn(type="submit") Отправить
                button.res_btn(type="reset") Очистить
        p.copyright © 2016. Это мой сайт, пожалуйста не копируйте и не воруйте его. Юрий Московец