section#home
    header
        .h-container.clearfix
            .logo
                a(href="/")
                    img(src="img/MyLogo.png", alt="logo")
            ul.header-nav.sliding-menu
                li: a(href="#about") Обо мне
                li: a(href="#work") Мои работы
                li: a(href="#contact") Контакты
    main
        .hero-wrap
            .hero-box
                .avatar-wrap-out
                    .avatar-wrap
                        img(src="img/avatar.png", alt="Yuri Moskovets")
                .avatar-text
                    h1
                        span.my-name Меня зовут 
                        | Юрий Московец
                    h2 Front-End разработчик
                    p.sprite
                        a(href="tel:+380509387449"): i.fa.fa-phone.fa-2x
                        a(href="skype:moskovets_yuri?chat"): i.fa.fa-skype.fa-2x
                        a(href="mailto:moskovets.yuri@gmail.com"): i.fa.fa-envelope.fa-2x