section#about
    .a-container
        h1.a-title
            span.line-l
            |Кратко обо мне
            span.line-r
        p.my-self Меня зовут Юрий. Мне 26 лет и я из города Полтава, Украина. Меня всегда привлекала сфера IT, поэтому выбор новой профессии был очевиден. А именно front-end разработка.
        h2 Ключевые навыки
        p.progress HTML/JADE
        .p-html
        p.progress CSS/SASS
        .p-css
        p.progress GULP
        .p-gulp
        p.progress JavaScript
        .p-js
        p.progress Adobe Photoshop
        .p-ps
        h2 Образование
        ul.a-item
            li
                .where Полтавская Государственная Аграрная Академия
                .period Сентябрь 2007 - Июль 2012
            li
                .where Курсы ШАГ
                .period Октябрь 2015 - по настоящее время
        h2 Мое хобби
        p.hobby
            i.fa.fa-futbol-o.fa-3x
            i.fa.fa-bicycle.fa-3x
            i.fa.fa-camera.fa-3x
            i.fa.fa-headphones.fa-3x
            i.fa.fa-film.fa-3x
        a(href="#work" class="down"): i.fa.fa-arrow-circle-down.fa-4x