section#contact
    .c-container
        h1.c-title Свяжитесь со мной
        .social
            a(href="https://vk.com/yurimoskovets" target="_blank"): i.fa.fa-vk.fa-2x
            a(href="https://www.facebook.com/yuri.moskovets.7" target="_blank"): i.fa.fa-facebook.fa-2x
            a(href="#"): i.fa.fa-twitter.fa-2x
            a(href="https://github.com/MoskovetsY" target="_blank"): i.fa.fa-github.fa-2x
        .c-text
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit labore minima ratione harum ducimus numquam distinctio alias vel earum sed eligendi atque sequi, eius consectetur, voluptatum obcaecati esse. Asperiores, autem.
        .form
            form#form
                p.f-name
                    input(type="text" name="name" placeholder="Ваше имя" required)
                p.f-email
                    input(type="email" name="email" placeholder="Ваш email" required)
                p.f-text
                    textarea(name="text" placeholder="Ваше сообщения")
                p
                    input(type="submit" name="submit" value="Отправить" class="sub_btn")
                p
                    input(type="reset" name="reset" value="Сбросить" class="res_btn")
        p.copyright © 2015. Это мой сайт, пожалуйста не копируйте и не воруйте его. Юрий Московец