section#work
    .w-container
        h1.w-title
            span.line-l
            |Мои работы
            span.line-r
        .my-work
            a(href="#" class="w-link"): img(src="img/imac.png", alt="")
            a(href="#" class="w-link"): img(src="img/imac.png", alt="")
            a(href="#" class="w-link"): img(src="img/imac.png", alt="")
        .w-text
            .w-item
                h3 Название сайта
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quod laudantium id cumque 
            .w-item
                h3 Название сайта
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quod laudantium id cumque 
            .w-item
                h3 Название сайта
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quod laudantium id cumque 
        a(href="#contact" class="down"): i.fa.fa-arrow-circle-down.fa-4x